<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/board.css">
</head>
<body>
    <div class="container">
        <table>
            <tr>
                <td>
                    게시글 수정 후 화면 <br>
                    <h3>수정한 번호: <span th:text="${no}"></span></h3>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="board">
                        <button>게시글 정보 페이지로</button>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>