<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/member.css">
</head>
<body>
    <div class="container">
        <table>
            <tr>
                <td>게시글 no</td>
                <td>게시글 제목</td>
                <td>게시글 내용</td>
                <td>작성자</td>
            </tr>
            <tr>
                <td>1226</td>
                <td>목요일</td>
                <td>내일은 금요일이다~~</td>
                <td>hong</td>
            </tr>
            <tr>
                <td colspan="4">
                    <a href="member">게시글 정보 페이지로</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>