<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/member.css">
</head>
<body>
    <div class="container">
        <table>
            <tr>
                <td>회원 id</td>
                <td>회원 pw</td>
            </tr>
            <tr>
                <td>apple</td>
                <td>1234</td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="member">회원정보 페이지로</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>